body {
    width: 100%;
	background: linear-gradient(90deg,#f5dfb1, #f2bcbc);
    background-size: 1400% 1400%;
    animation: AnimationName 17s ease infinite;
    
}

@keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}

#full-page{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3) .1em, transparent .1em), linear-gradient(90deg, rgba(0, 0, 0, 0.3) .1em, transparent .1em);
    background-size: 20px 20px;
    height: auto;
    display: block;
    justify-content: center;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
}

.retangulo-1{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.bx-calendário{
    width: 250px;
    height: 50px;
    margin-top: 20px;
    background-color: rgb(151, 54, 54);
    rotate: -10deg;
    padding-top: 5px;
    position: absolute;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

.bubble-right{
    transform: rotateY(150deg);
    rotate: 5deg;
    margin-top: 45px;
    margin-left: 155px;
    margin-bottom: 0;
    position: absolute;   
}

.img__text{
    position: absolute;
    margin-top: 10px;
    margin-left: 30px;
    font-weight: bold;
    font-size: 25px;

}

.instrucoes{
    width: 650px;
    height: auto;
    margin: 95px 45px 0 45px;
    background-color: #f5e0a0fa;
    position: back;
    text-align: center;
    padding: 25px 0 25px 0;
    
}

.guia{
    display: block;
}

.guia h4{
    text-transform: uppercase;
}

.guia li{
    list-style: none;
}

.guia ul{
    margin-left: 0;
}

.topicos{
    margin: 20px;
}

.mascote{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}