body {
    width: 100%;
	background: linear-gradient(90deg,#f5dfb1, #f2bcbc);
    background-size: 1400% 1400%;
    animation: AnimationName 17s ease infinite;
    
}

@keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}

#full-page{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7) .1em, transparent .1em), linear-gradient(90deg, rgba(0, 0, 0, 0.7) .1em, transparent .1em);
    background-size: 2.43em 1.73em;
    height: auto;
    display: block;
    justify-content: center;

}

.retangulo-1{
    display: flex;
    justify-content: center;
}

.bx-calendário{
    width: 250px;
    height: 50px;
    margin-top: 20px;
    background-color: rgb(151, 54, 54);
    rotate: -10deg;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    padding-top: 5px;
    position: absolute;
}

.bubble-right{
    transform: rotateY(150deg);
    rotate: 5deg;
    margin-top: 45px;
    margin-left: 155px;
    margin-bottom: 0;
    position: absolute;     

}



.instrucoes{
    margin-top: 100px;
    margin: 50px;
    ali;
    background-color: #f3bc19fa;
    
}

.guia{
    margin-top: 100px;
    padding: 5px;
    width: 100px;
    height: auto;
    display: flex;
   flex-direction: column;
}

.guia h4{

}