*
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(0, 0, 0);
	font-family: 'Lato', Arial, Helvetica, sans-serif;
    color: white;
}

.pag-divider{
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgb(10, 58, 121) 16%, rgba(6,5,85,1) 29%, rgba(8,7,106,1) 40%, rgba(9,9,121,1) 47%, rgba(34,7,148,1) 55%, rgba(51,6,166,1) 67%, rgba(39,40,173,1) 79%, rgba(36,50,175,1) 83%, rgba(33,58,177,1) 86%, rgba(21,94,185,1) 100%);
	width: 100%;
	height: .25rem;

}

header{
    background: black;
    width: 100%;
}

.navbar-brand img{
    margin-left: 650px;
}

.content-wrapper{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
}

.wrapper{
    width: 500px;
    height: 70px;
    position:relative;
}

.wrapper input{
    background: none;
    width: 100%;
    height: 100%;
    border: none;
    border-bottom: 3px solid rgb(124, 189, 233);
    color: white;
    padding-left: 8px;
    outline: none;

}

label{
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translate(-50%);
    transition: all .8s ease;
    font-size: 20px;
    pointer-events: none;
    color: white;
    background-color: black;
}

input:focus + label,
input:valid + label{
    font-size: 15px;
    top: 0;
    padding: 5px;
    
}
