/*#9C191B
#FFCCD5
#FBC4AB
#FFD7BA
#fdeca6
#FFF0F3
#F6CACC
#D02224
#E66063
#E35053
#fbc3bc
#ffe3e0*/

@font-face {
    font-family: 'Radhen Retro';
    src: url(./fontes/Radhen_Retro.otf);
}

@font-face {
    font-family: 'KaiRegular';
    src: url(./fontes/abeatbyKaiRegular.otf);
}
@font-face {
    font-family: 'Valentine';
    src: url(./fontes/Valentine-7B24B.otf);
}

body{
    background-color: #FFCCD5;
    margin: 0;
    font-family: 'KaiRegular';
}
.wrap{
    margin-left:;
    display: flex;
    background-color: #9C191B;
    font-family: 'Radhen Retro';
}
.cab{
    background-image: url();
    padding:;
    margin-left: 40%;
    width: ;
    height: 185px;
    background-color: #9C191B;
    font-family: 'Radhen Retro';
    color: #FFD7BA;
    position: relative;
}

.valentine-radius{
    margin-left: 40%;
    margin-top: 20px;
    display: flex;
    position: absolute;
    background-color: #FFF0F3;
    border-radius: 50%;
}

.valentine{
    margin-top: 20px;
    position: relative;
    background-color: transparent;
    text-decoration: ;
}
.valentine p{
    position: relative;
    font-size:75px;
    margin-top: 105px;
    font-family: 'Radhen Retro';
    color: #FFD7BA;
}

.my{
    margin-left: 40%;
    margin-top: -20px;
    display: flex;
    position: absolute;
    border-radius: 50%;
}
.my p{
    position: absolute;
    font-size:75px;
    font-family: 'Radhen Retro';
    color: #FFD7BA;
}

.content{
    margin-top: 250px;
    width: auto;
    display: flex;
}

.navbar{
    background-color: #FFF0F3;
    display:inline-block;
    overflow: hidden;
    border-radius: 5px;
    position: absolute;
    width: 100%;
    margin-top: 190px;
    padding: 10px;

    
}

.navbar a{
    color: #D02224;
    display: inline-block;
    overflow: hidden;
    text-decoration: none;

    
}

.post{
    background-color: #FFF0F3;
    display: flex;
    padding: 10px;
    margin-top: ;
    overflow: hidden;
    border-radius: 15px;
    width: 750px;
    margin-left: 30px;
}

.texto-histórico img{
    position: absolute;
    width: 125px;
}

.texto-histórico{
    width: ;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

h2{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#receitas{
    background-color: #E35053;
    border: 1px solid #E35053;
    border-radius: 20PX;
    font-family: 'Radhen Retro';
}

.receitao{
    background-color: #FFF0F3;
    display: ;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(211, 177, 177, 0.4); /* Black w/ opacity */
}

.receita-box{
    background-color: #FFF0F3;
    border-radius: 20PX;
    font-family: monospace;
    display: flex;
    
}

.barra{
    display: flex;

}

.barra img{
    width: 15px;
    height: 15px;
    padding: 5px;
    margin-left: 5px;
}

.icones-barra{
    margin: 10px 0 0 200px;
}

.barra p{
    background-color: rgb(241, 209, 209);
    width: 250px;
    margin: 10px;
    padding: 5px;
    border-radius: 25px;


}



.modal-content{
    margin: 15% auto;
    padding: 20px;
    width: 50%;
    background-color: #FFF0F3;
    border: 1px solid #E35053;
    border-radius: 25px;
}

.close{
    color: ;
    float: right;
    font-size: 30px;
    font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.receita-post{
    border-top: 1px solid #9C191B;

}
